<!DOCTYPE html>
 <html lang="en"> 
 <head>   
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/financeiro.css">
     <meta name="author" content="wesleiads">
     <title>Financeiro</title>
 </head>  

 <body>  
     <div class="container">
            <header>
                <div class="header">
                        <div class="header__logo">
                            <a href="index.html"><img class="header__logo" src="../../img/logo.png" alt="Logo do site"></a>
                        </div>
                        
                        <h1 class="header__titulo">Área dos Pais</h1>
                        
                </div>
                    <div class="menu__header">
                        <nav class="nav">
                            <ul class="nav__list">
                                <li><a href="agenda.html" class="nav__link">Agenda</a></li>
                                <li><a href="disciplinas.html" class="nav__link">Disciplinas</a></li>
                                <li><a href="frequencia.html" class="nav__link">Frequência e Boletins</a></li>
                                <li><a href="financeiro.html" class="nav__link">Financeiro</a></li>
                                <li><a href="comunicados.html" class="nav__link">Comunicados</a></li>
                            </ul>
                        </nav> 
                    </div>
            </header> 

            <div class="img__background">


                <div class="calendar">
                    <div class="back">
                    <nav class="nav">
                        <ul class="nav__lista">
                            <li><p>Cód. controle</p></li>
                                <li><p >Descrição</p></li>
                                <li><p >Mês</p></li>
                                <li><p >Status</p></li>
                                <!-- <p id="link-material" href="#">Material</a> -->
                        </ul>
                        <nav class="nav">
                            <ul class="nav__lista1">
                                <li class="colorlista1"><p class="nav__linka">789451</p></li>
                                    <li><p class="nav__linka">Mensalidade referente ao ano 9 º letivo</p></li>
                                    <li><p class="nav__linka">Maio</p></li>
                                    <li><p class="redbotton" href="#">Enviar</p></li>
                            </ul>
                            <nav class="nav">
                                <ul class="nav__lista2">
                                    <li class="colorlista1"><p class="nav__linka">789450</p></li>
                                        <li><p class="nav__linka">Mensalidade referente ao ano 9 º letivo</p></li>
                                        <li><p class="nav__linka">Abril</p></li>
                                        <li><p class="greenbotton" href="#">Pago</p></li>
                                </ul>
                    </nav>
                </div>
            </div>
                
            </div>
            <footer>2022 - Curitiba-PR</footer> 
      </div>
 </body>
 
 </html>