<!DOCTYPE html>
 <html lang="en"> 
 <head>   
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/frequencia.css">
     <meta name="author" content="financeiro">
     <title>Frenquência e Boletins</title>
 </head>  

 <body>  
     <div class="container">
            <header>
                <div class="header">
                        <div class="header__logo">
                            <a href="index.html"><img class="header__logo" src="../../img/logo.png" alt="Logo do site"></a>
                        </div>
                        
                        <h1 class="header__titulo">Área dos Pais</h1>
                        
                </div>
                    <div class="menu__header">
                        <nav class="nav">
                            <ul class="nav__list">
                                <li><a href="agenda.html" class="nav__link">Agenda</a></li>
                                <li><a href="disciplinas.html" class="nav__link">Disciplinas</a></li>
                                <li><a href="frequencia.html" class="nav__link">Frequência e Boletins</a></li>
                                <li><a href="financeiro.html" class="nav__link">Financeiro</a></li>
                                <li><a href="comunicados.html" class="nav__link">Comunicados</a></li>
                            </ul>
                        </nav> 
                    </div>
            </header> 

            <div class="img__background">

                <div class="menu-agenda">
                    <P class="titulo">Selecione o mês / Bimestre</P>
                    
                </div>

                <div class="calendar">
                    <nav class="nav">
                        <ul class="nav__lista">
                            <li><p>Materias</p></li>
                                <li><p >Notas</p></li>
                                <li><p >Faltas</p></li>
                                <li><p >Resultado</p></li>
                        </ul>
                        <nav class="nav">
                            <ul class="nav__lista1">
                                <li class="colorlista1"><p class="nav__linka">Algebra</p></li>
                                    <li><p class="nav__linka">8.0</p></li>
                                    <li><p class="nav__linka">0</p></li>
                                    <li><p class="accept">Aprovado</p></li>
                            </ul>
                            <nav class="nav">
                                <ul class="nav__lista2">
                                    <li class="colorlista1"><p class="nav__linka">Português</p></li>
                                        <li><p class="nav__linka">8.0</p></li>
                                        <li><p class="nav__linka">0</p></li>
                                        <li><p class="denied">Reprovado</p></li>
                                </ul>
                    </nav>
                </div>
                 
                
            </div>
            <footer>2022 - Curitiba-PR</footer> 
      </div>
 </body>
 </html>